---
export const frontmatter = {
  baseClass: 'branding-page',
  title: 'Ný ásýnd Vettvangs',
}

import BrandingPageSection from 'src/components/branding-page-section.astro'
import Layout from '../layouts/layout.astro'
import '../styles/playground/branding-page.scss'
import { randomText } from 'src/scripts/core/astro-helpers'

const navigation = [
  { label: 'Heim', url: '#heim' },
  { label: 'Merkið', url: '#merkid', headline: 'Ný nálgun á rótgrónu merki' },
  { label: 'Litir', url: '#litir', headline: 'Litirnir spegla kjarnann okkar' },
  { label: 'Letur', url: '#letur', headline: 'Letrið setur tóninn' },
  { label: 'Tákn', url: '#takn', headline: 'Grafíkin styður upplifun og flæði' },
  { label: 'Raddblær', url: '#raddblaer', headline: 'Við erum hnitmiðuð, aðgengileg, skýr, reynd, traust, vinaleg, leiðandi og áhrifarík' },
  { label: 'Ásýnd', url: '#asynd', headline: 'Samræmi skapar fagurfræðilega heild' },
]

const sectionId = (index) => navigation[index].url.replace('#', '')
---

<script>
  import stuff from '../scripts/playground/branding-page'
  stuff.init()
</script>

<Layout baseClass={frontmatter.baseClass} navigationHidden={true} title={frontmatter.title}>
  <main class={frontmatter.baseClass}>

    <nav class='navigation'>
      <a class='navigation__logo' href='#heim'>
        <svg width='44' height='25' viewBox='0 0 44 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path d='M29.0658 24.25L43.2269 0.25H39.0035L26.9531 20.6619L29.0658 24.25Z' fill='#FD3D00'/>
          <path d='M25.4564 18.1432L36.0083 0.25H31.7545L23.3438 14.5268L25.4564 18.1432Z' fill='#FD3D00'/>
          <path d='M28.7613 0.25H0.5L14.6307 24.25L28.7613 0.25ZM22.4291 3.83432L14.6307 17.0738L6.83418 3.83432H22.4291Z' fill='#FD3D00'/>
        </svg>
        <div class='navigation__background'></div>
      </a>
      <div class='navigation__links'>
        {navigation.map((item, index) => (
          index !== 0 && <a class='navigation__link' href={item.url}>
            {item.label}
            <div class='navigation__link-status'><div></div></div>
          </a>
        ))}
        <div class='navigation__background'></div>
      </div>
    </nav>

    <section class='hero section section--dark' id={sectionId(0)}>
      <div class='container'>
        <div class='section__headline'>
          <h1>Ný ásýnd<br> Vettvangs</h1>
        </div>
        <div class='hero__circles'>
          {Array.from({ length: 5 }).map(() => (
            <div class='hero__circle'>
              <div class='hero__circle-wrapper shape shape--circle-stroke'>
                <div class='shape__gradient shape__gradient--conic'></div>
              </div>
            </div>
          ))}
        </div>
      </div>
    </section>

    {navigation.map((item, index) => (
      index !== 0 && <BrandingPageSection
        eyebrow={item.label}
        id={sectionId(index)}
        isDark={(index - 1) % 2}
        headline={item.headline ? item.headline : randomText(3, 5)}
      >
        {index === 1 ?
          <div class='symbol'>
            <div class='symbol__box'>
              <div></div>
              <div></div>
            </div>
            <div class='symbol__boxes-container'>
              <p>{randomText(30, 55)}</p>
              <div class='symbol__boxes'>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          :
          randomText(111, 222)
        }
      </BrandingPageSection>
    ))}

  </main>
</Layout>
