---
export const frontmatter = {
  baseClass: 'barrel-text',
  navDescription: '', //'Text effect created for Egilshöllin',
  navTitle: 'Barrel text test',
}

import '../../styles/playground/barrel-text.scss'
import Layout from '../layouts/playground-layout.astro'

const texts = ['Starfssemi', 'Salir til leigu', 'Skautasvell', 'Bóka tíma', 'Um okkur']
---

<script>
  import stuff from '../../scripts/playground/barrel-text'
  stuff.init()
</script>

<Layout baseClass={frontmatter.baseClass} metaDescription={frontmatter.navDescription} metaTitle={frontmatter.navTitle}>
  <main class={frontmatter.baseClass} slot="body">
    <div class="barrel barrel--3">
      {
        texts.map((text) => (
          <div>
            <h1>{text}</h1>
          </div>
        ))
      }
    </div>
    <!-- <div class="barrel barrel--3">
      <div>
        <h1>
          {texts[0]}<div>
            <h1>{texts[1]}</h1><div>
              <h1>
                {texts[2]}<div>
                  <h1>
                    {texts[3]}<div>
                      <h1>{texts[4]}</h1>
                    </div>
                  </h1>
                </div>
              </h1>
            </div>
          </div>
        </h1>
      </div>
    </div> -->
    <div class="barrel barrel--1">
      {
        texts.map((text) => (
          <div>
            <div>
              <div>
                <h1>{text}</h1>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="barrel barrel--2">
      {
        texts.map((text) => (
          <div>
            <div>
              <h1>{text}</h1>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
