---
export const frontmatter = {
  baseClass: 'branding-page',
  navDescription: 'Vettvangur branding page',
  navTitle: 'Ný ásýnd Vettvangs',
}

import '../../styles/playground/branding-page.scss'
import Navigation from '../components/branding-page-navigation.astro'
import Section from '../components/branding-page-section.astro'
import SectionContentAppearance from '../components/branding-page-section-appearance.astro'
import SectionContentColors from '../components/branding-page-section-colors.astro'
import SectionContentSign from '../components/branding-page-section-sign.astro'
import SectionContentSymbols from '../components/branding-page-section-symbols.astro'
import SectionContentTone from '../components/branding-page-section-tone.astro'
import SectionContentTypography from '../components/branding-page-section-typography.astro'
import SectionHome from '../components/branding-page-section-home.astro'
import Layout from '../layouts/playground-layout.astro'

const navigation = [
  { section: 'home', label: 'Heim', url: '#heim', headline: 'Ný ásýnd<br> Vettvangs' },
  { section: 'sign', label: 'Merkið', url: '#merkid', headline: 'Ný nálgun á<br> rótgrónu merki' },
  { section: 'colors', label: 'Litir', url: '#litir', headline: 'Litirnir spegla<br> kjarnann okkar' },
  { section: 'typography', label: 'Letur', url: '#letur', headline: 'Letrið setur<br> tóninn' },
  { section: 'symbols', label: 'Tákn', url: '#takn', headline: 'Grafíkin styður<br> upplifun og flæði' },
  { section: 'tone', label: 'Raddblær', url: '#raddblaer', headline: 'Við erum hnitmiðuð, aðgengileg, skýr, reynd, traust, vinaleg, leiðandi og áhrifarík' },
  { section: 'appearance', label: 'Ásýnd', url: '#asynd', headline: 'Samræmi skapar<br> fagurfræði<span class="split-break"></span>lega heild' },
  { section: 'summary', label: 'Ein heild', url: '#ein-heid', headline: 'Merki, litir, letur og grafík vinna saman að því að skapa samræmda ímynd sem styrkir bæði notagildi og útlit.' },
]

const sectionId = (index) => navigation[index].url.replace('#', '')
---

<script>
  import stuff from '../../scripts/playground/branding-page'
  stuff.init()
</script>

<Layout baseClass={frontmatter.baseClass} metaDescription={frontmatter.navDescription} metaTitle={frontmatter.navTitle} navigationHidden>
  <main class={frontmatter.baseClass} slot="body">
    <Navigation navigation={navigation} />
    <SectionHome headline={navigation[0].headline} id={sectionId(0)} />
    {
      navigation.map((item, index) => {
        const props = {
          className: `section--${item.section}`,
          eyebrow: item.label,
          headline: item.headline,
          id: sectionId(index),
          isHeadlineSmall: item.section === 'tone' || item.section === 'summary',
          isNavy: (index - 1) % 2,
        }

        if (index === 0) return null

        return (
          <Section {...props}>
            {item.section === 'sign' && <SectionContentSign />}
            {item.section === 'colors' && <SectionContentColors />}
            {item.section === 'typography' && <SectionContentTypography />}
            {item.section === 'symbols' && <SectionContentSymbols />}
            {item.section === 'tone' && <SectionContentTone />}
            {item.section === 'appearance' && <SectionContentAppearance />}
          </Section>
        )
      })
    }
    <footer class="footer"></footer>
  </main>
</Layout>
