---
const { className = '', eyebrow, headline, id, isDark = false } = Astro.props

const themeClass = isDark ? 'section--dark' : 'section--light'
---

<div class={`section ${className} ${themeClass}`} id={id}>
  <div class='container'>
    <div class='section__headline'>
      <div>
        <p class='section__headline-eyebrow'>{eyebrow}</p>
        <h1>{headline}</h1>
      </div>
    </div>
    <div class='section__content'>
      <slot />
    </div>
  </div>
  <div class='section__shapes'>
    {Array.from({ length: 10 }).map(() => (
      <div class='shape shape--circle-stroke'>
        <div class='shape__gradient shape__gradient--conic'></div>
      </div>
    ))}
  </div>
</div>
